<div style="border:solid green 3px; padding: 20px">

<b>Привет!</b>

Меня зовут Сороколетов Илья и я буду проверять твой проект. 

Предлагаю общаться на «**ты**», но если тебе будет комфортнее общаться на «**вы**», то сообщи об этом в комментариях)


Для твоего удобства, я буду выделять свои комментарии следующим образом:

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> Самые важные замечания. Они указывают на ключевые моменты, которые влияют на конечный результат проекта. </div>

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> Советы или замечания, которые помогут сделать твою работу лучше, но необязательны к выполнению.

</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> Так я выделяю все остальные комментарии.</div>


Пометками <b>v1-v2-v3-...</b> я буду отмечать версию проверки. Так ты сможешь быстро найти мои новые комментарии.

Давай работать над проектом в диалоге: если ты что-то меняешь в проекте по моим рекомендациям — пиши об этом. Выбери для своих комментариев какой-то заметный цвет, так мне будет легче отследить изменения, например вот так:
    
<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>
</div>

<b>Пожалуйста, не перемещай, не изменяй и не удаляй мои комментарии.</b> Если ты оставляешь свои комментарии, то делай это под моими, чтобы сообщения были расположены в хронологическом порядке. Всё это поможет выполнить повторную проверку твоего проекта быстрее. 


Перед отправкой работы я рекомендую нажимать Kernel -> Restart & Run All. Это перезапустит ядро и по очереди выполнит все ячейки. Так ты сможешь проверить, что всё работает корректно. Кнопка Kernel находится в панели сверху

Обязательно задавай вопросы если они возникнут, а я перехожу к проверке)

P.S. На всякий случай, я оставлю пустой шаблон для твоих комментариев ниже. Кликни два раза на мой комментарий, скопируй последние четыре строчки кода и вставляй их в пустую ячейку там, где ты хочешь оставить комментарий. Не забудь только перед этим сменить тип ячейки на Markdown. Быстро это можно сделать так: кликнуть на ячейку - нажать ESC - нажать M. 
    
    
<div class="alert alert-info">
<b>Комментарий студента:</b>
<br>Место для твоего комментария
</div>

# Исследование надежности заемщиков.

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Лучше оставляй перед проектом краткое описание задачи. Это поможет тебе быстро вспомнить о чем проект, если спустя время ты решишь к нему вернуться)
</div>

### Шаг 1. Обзор данных

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/datasets/data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [3]:
df['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [4]:
df.sort_values('days_employed', ascending=False).head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
6954,0,401755.400475,56,среднее,1,вдовец / вдова,2,F,пенсионер,0,176278.441171,ремонт жилью
10006,0,401715.811749,69,высшее,0,Не женат / не замужем,4,F,пенсионер,0,57390.256908,получение образования
7664,1,401675.093434,61,среднее,1,женат / замужем,0,F,пенсионер,0,126214.519212,операции с жильем
2156,0,401674.466633,60,среднее,1,женат / замужем,0,M,пенсионер,0,325395.724541,автомобили
7794,0,401663.850046,61,среднее,1,гражданский брак,1,F,пенсионер,0,48286.441362,свадьба

**Короткий вывод о данных:**

Исходя из первичных данных можно увидеть пропуски в столбцах days_employed и total_income, также столбец days_employed содержит данные типа float, что не соответствует описанию переменной, столбец children содержит большое значение: 20. 
Максимальные значения в столбце days_employed слишком велики.

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Все библиотеки лучше импортировать отдельно в первой ячейке. Это позволит тебе в любой момент добавить ещё одну библиотеку без перезаписи переменных.
</div>

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> 
<br>Тут необходимо написать короткий вывод о проблемах с данными (пропуски, дубликаты, неверный тип данных, странные значения и т.д.)
</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v2:</b> 
<br>Отлично!
<br>Во время первичного анализа данных, может помочь метод describe(). Он покажет разброс значений, максимум, минимум, среднее и медиану. 
</div>

### Шаг 2.1 Заполнение пропусков

Из общей информации о данных следует, что столбцы days_employed и total_income имеют пропуски.

In [5]:
# Проверим какую долю составляют пропуски в каждом из столбцов.
share_na_total_income = df['total_income'].isna().sum() / df['total_income'].count() # Доля пропусков в столбце total_income
share_na_days_employed = df['days_employed'].isna().sum() / df['days_employed'].count() # Доля пропусков в столбце days_employed
print(share_na_total_income)
print(share_na_days_employed)

0.11234561521368405
0.11234561521368405

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Расчет не совсем верный, так как ты делишь количество заполненных значений, на количество пропусков, а нужно делить на общее количетсво значений. В этом может помочь следующая связка
    
    df.isna().mean()
</div>

Исходя из описания данных можно сделать вывод, что пропуски в столбце ...

In [6]:
# Заполним столбец total_income медианным значением:
df['total_income'] = df['total_income'].fillna(df['total_income'].median())
# Проверим столбец total_income на отсутствие пропусков:
df['total_income'].isna().sum()

0

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Всё верно! Также здесь можно заполнить пропуски более оптимальным способом - медианой, в зависимости от типа занятости. Для этого отлично подойдёт функция transform:

    df['total_income'] = df['total_income'].fillna(df.groupby('income_type')['total_income'].transform("median"))

<br>Она создаёт новый столбец, который содержит столько же строк, сколько и изначальный, но только вместо оригинальных значений в каждой строке содержится медиана посчитанная по заданной группе. После этого вместо пропусков в оригинальном столбце мы подставляем значения из созданного столбца, то есть медианы в зависимости от группы.
</div>

Заполнить пропуски медианным значением - лучшее решение, так как в столбце days_employed встречаются очень большие значения.

### Шаг 2.2 Проверка данных на аномалии и исправления.

Столбец days_employed имеет отрицательные значения, из описания данных можно понять, что трудовой стаж в днях не может быть отрицательным, следовательно это аномальные данные, причиной появления отрицательных данных может быть человеческий фактор.
Также в столбце children встречается значение -1.

In [7]:
# Заменим отрицательные значения в столбце days_employed на положительные:
df['days_employed'] = df['days_employed'].abs()
# Заменим отрицательные значения в столбце children на положительные:
df['children'] = df['children'].abs()
# Заполним столбец days_employed медианными данными по столбцу:
df['days_employed'] = df['days_employed'].fillna(df['days_employed'].median())

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера v1:</b> 
<br>Как вариант, 20 детей можно было бы заменить на 2
</div>

### Шаг 2.3. Изменение типов данных.

In [8]:
# Заменим вещественный тип данных в столбце days_employed на целочисленный:
df['days_employed'] = df['days_employed'].astype('int')
# Округлим значения в столбце total_income до целого значения:
df['total_income'] = df['total_income'].astype('int')

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> 
<br>Тут нужно ещё изменить тип данных в столбце total_income. В нём значения с шестью знаками после запятой и такая точность нам ни к чему)
</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v2:</b>
<br>👍
</div>

### Шаг 2.4. Удаление дубликатов.

In [9]:
# Найдем неявные дубликаты в столбце education:
df['education'].unique()

array(['высшее', 'среднее', 'Среднее', 'СРЕДНЕЕ', 'ВЫСШЕЕ',
       'неоконченное высшее', 'начальное', 'Высшее',
       'НЕОКОНЧЕННОЕ ВЫСШЕЕ', 'Неоконченное высшее', 'НАЧАЛЬНОЕ',
       'Начальное', 'Ученая степень', 'УЧЕНАЯ СТЕПЕНЬ', 'ученая степень'],
      dtype=object)

In [10]:
# Приведём значения столбца education к нижнему регистру:
df['education'] = df['education'].str.lower()

In [11]:
# Найдем количество явных дубликатов в датафрейме и удалим их:
df.duplicated().sum()
df = df.drop_duplicates().reset_index(drop=True)

In [12]:
df.duplicated().sum()

0

1) Для поиска и удаления дубликатов в данных я использовал методы unique(), str.lower(), drop_duplicates(), reset_index().

2) Причиной появления подобных дубликатов может являтся человеческий фактор.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Супер! От дубликатов тоже избавились
</div>

### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

In [13]:
# Создадим датафрейм education_df:
education_df = df[['education', 'education_id']]
# Создадим датафрейм family_df:
family_df = df[['family_status', 'family_status_id']]
# Удалим столбцы education и family_status:
df = df.drop(columns=['education', 'family_status'])

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Тут всё правильно 👌
</div>

### Шаг 2.6. Категоризация дохода.

In [14]:
# Создадим функцию для категоризации уровня дохода:

def income_category_function(df):
    income = df['total_income']
    if income < 30001:
        return 'E'
    elif income < 50001:
        return  'D'
    elif income < 200001:
        return 'C'
    elif income < 1000001:
        return 'B'
    else:
        return 'A'

# Создадим столбец total_income_category с помощью функции:
df['total_income_category'] = df.apply(income_category_function, axis=1)

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Категоризация клиентов по уровню дохода произведена верно
</div>

### Шаг 2.7. Категоризация целей кредита.

In [15]:
# Создадим функцию для категоризации цели кредита:

def purpose_category_function(df):
    purpose = df['purpose']
    if 'автомоб' in purpose:
        return 'операции с автомобилем'
    elif 'недвиж'in purpose or 'жил' in purpose:
        return 'операции с недвижимостью'
    elif 'свад' in purpose:
        return 'проведение свадьбы'
    elif 'образ' in purpose:
        return 'получение образования'

# Создадим столбец total_income_category с помощью функции:
df['purpose_category'] = df.apply(purpose_category_function, axis=1)

In [16]:
# Выведем датафрейм после всех преобразований:
df

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437,42,0,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623,33,1,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124,32,1,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...
21449,1,4529,43,1,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
21450,0,343937,67,1,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
21451,1,2113,38,1,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
21452,3,3112,38,1,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
21453,2,1984,40,1,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Основные цели кредита определены правильно! 👍
</div>

### Ответы на вопросы.

##### Вопрос 1:

**Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [ ]:
# Чтобы проверить гипотезу о зависимости между количеством детей и возвратом кредита в срок,
# сгруппируем датафрейм по столбцу с кол-вом детей и выведем среднее значение для "выплачиваемости кредита":
correl_children_debt = df.groupby('children')['debt'].mean()
correl_children_debt

Таким образом, можно сделать вывод, что кол-во детей негативно влияет на возврат кредита в срок. Однако, клиенты банка с 5 детьми не имели задолженности вовсе,это связано с тем что кол-во клиентов с 5 детьми минимально.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Верно! 
</div>

**Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [ ]:
# Аналогично прошлому шагу рассчитаем зависимость между семейным положением и возвратом кредита в срок:
correl_family_status_debt = df.groupby('family_status_id')['debt'].mean()
correl_family_status_debt

Исходя из данных, представленных выше, можно сделать вывод, что клиенты банка находящиеся в браке или разводе чаще выплачивают кредит в срок.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Согласен! Идём дальше)
</div>

**Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [19]:
correl_income_debt = df.groupby('total_income_category')['debt'].mean()
correl_income_debt

total_income_category
A    0.080000
B    0.070621
C    0.084915
D    0.060000
E    0.090909
Name: debt, dtype: float64

Можно сделать вывод, что уровень дохода благоприятно влияет на возврат кредита в срок. Однако у клиентов с высшей категорией дохода возвращаемость кредита в срок ниже, чем у некоторых категорий, имеющих меньщий доход, это связано с малым кол-вом клиентов с категорией дохода А.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Тут всё правильно
</div>

**Как разные цели кредита влияют на его возврат в срок?**

In [20]:
correl_purpose_category_debt = df.groupby('purpose_category')['debt'].mean()
correl_purpose_category_debt

purpose_category
операции с автомобилем      0.093590
операции с недвижимостью    0.072334
получение образования       0.092200
проведение свадьбы          0.080034
Name: debt, dtype: float64

Исходя из данных выше, можно сделать выовд, что кредиты категории "операции с недвижимостью" реже всего оказываются неуплаченными в срок.

In [21]:
purpose_category_debt_pivot = df.pivot_table(index='purpose_category', values='debt', aggfunc='mean')
purpose_category_debt_pivot

                              debt
purpose_category
операции с автомобилем    0.093590
операции с недвижимостью  0.072334
получение образования     0.092200
проведение свадьбы        0.080034

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b>
<br>Абсолютно верно!
</div>

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера v1:</b> 
<br>У тебя верные расчеты, но давай потренируемся строить сводные таблицы используя метод pivot_table. Построй её для ответа на любой из вопросов и в расчитай внутри таблицы долю должников внутри каждой группы. С этим может помочь aggfunc='mean'
</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v2:</b>
<br>Сводная таблица построена верно!
</div>

##### Вывод 1:

## Общий вывод:

Таким образом, можно сделать вывод, что кол-во детей негативно влияет на возврат кредита в срок, клиенты банка находящиеся в браке или разводе чаще выплачивают кредит в срок, уровень дохода благоприятно влияет на возврат кредита в срок, кредиты категории "операции с недвижимостью" реже всего оказываются неуплаченными в срок.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v1:</b> 
<br>Общий вывод верный 👍
</div>

<div class="alert alert-danger">
<b>❌ Итоговый комментарий ревьюера v1:</b> 
<br>Ты хорошо потрудился, большая часть работы сделана, но остаётся внести следующие правки:
<br>- написать вывод после первичного анализа данных	
<br>- изменить тип данных в столбце total_income 
<br>- построить сводную таблицу используя метод pivot_table() для любого из вопросов в шаге 3. В таблице нужно произвести расчет доли должников внутри каждой группы клиентов. 
</div>

<div class="alert alert-success">
<b>✔️ Итоговый комментарий ревьюера v2:</b>
<br>Все правки выполнены. Молодец!
<br>Ты проделал большую работу! У тебя точные выводы с хорошей аргументацией. Здорово, что ты пишешь свои рассуждения и предположения - это помогает видеть ход твоей мысли. Отдельно хочу выделить аккуратность и структурированность твоей работы. Рад был поработать над проверкой твоего проекта! Желаю удачи в дальнейшем обучении! 😉
</div>